/*Dropdown menu css*/
h2{
  color: green;
  background-color: 194158;
}
h3{
  text-decoration-style: solid;
  color: blue;
    text-align: center;
}
h5{
  text-decoration-style: solid;
}
a:hover {
  color: yellow;
}

button:hover{
  background-color: yellow;
}

.network{
  text-align: right;
}
/* ul li a{
  background-color: green;
} */

h4{
  text-align: center;
  background-color: absolute;
}

/* p:hover{
  color: red;
} */
.yo{
  text-align: center;
  background-color: green;

}

/* p.imp{
  color: blue;
} */


/* Add a black background color to the top navigation */
.topnav {

  background-color: #023B65;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FFFFFF;
  color: white;
}
.icon-bar{
  width: 90px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
}






body{
  font-family: monospace;
  outline: none;
  background-color:#01B16B;
  /* background-image: url("img/wallpaper2you_169028.jpg"); */
  background-size: auto;
  /* background-repeat: repeat; */
}
.notice{
  background-color: #194158;
}

.container-fluid{
  background-color:  #023B65;
}

.fa fa-fw fa-search{
   text-align:right;
}
.navbar-inverse{

  background-color: white;
  border-color: transparent;
}

.navbar-inverse .navbar-brand{
  color: #fff;
  font-size: 15px;
  margin-right: 40px;
}

#myNavbar .navbar-nav li a{
  color: grey;
  font-size: 15px;
}

#myNavbar #personal{
  transition: all 0.3s ease-in-out;
}

#myNavbar #personal:hover{
  background-color: inherit;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: orange;
  box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#sub-dropdown-menu{
  display: none;
  position: absolute;
  background-color: blue;
  margin-left: 186px;
  margin-top: -26px;
}

#sub-dropdown-menu a , .dropdown-menu a {
  color:#000 !important;
  font-size: 16px !important;
}

.dropdown:hover .dropdown-menu{display: block; transition: all 0.5s ease-in-out;}

.dropdown .dropdown-menu a:hover{background-color: #c9c7c7;}

#sub-dropdown:hover #sub-dropdown-menu{display: block;}
